# PART 2: QUERIES IN SQL

## Query Prep: Import Cleaned CSV to SQL Database
After being cleaned and reformatted as CSV files, the data is imported to the SQL database for querying.

In [ ]:
############################################################
# Nodes_tags.csv to nodes_tags table in richmond_sample.db #
############################################################

#1. Import the modules that you will need:
import sqlite3
import csv
from pprint import pprint

#2. Connect to the database (if it doesn't exist, it will be created in the folder that your notebook is in):
sqlite_file = 'richmond_sample.db'    # name of the sqlite database file

# Connect to the database
conn = sqlite3.connect(sqlite_file)

#3. Create a cursor object
cur = conn.cursor()

#4. Create the table, specifying the column names and data types:
# in the case of'nodes_tags.csv' as an example, it has columns: 'id, key, value,type'
cur.execute('''CREATE TABLE nodes_tags(id INTEGER, key TEXT, value TEXT,type TEXT)''')
# commit the changes
conn.commit()

#5. Read in the csv file as a dictionary, format the
# data as a list of tuples:
with open('nodes_tags.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'], i['key'],i['value'], i['type']) for i in dr]
    
#6. Insert the formatted data
cur.executemany("INSERT INTO nodes_tags(id, key, value,type) VALUES (?, ?, ?, ?);", to_db)
# commit the changes
conn.commit()

#7. check that the data imported correctly
cur.execute('SELECT * FROM nodes_tags')
all_rows = cur.fetchall()
print('1):')
pprint (all_rows)

#8. close the connection:
conn.close()

In [8]:
#5. Read in the csv file as a dictionary, format the
# data as a list of tuples:
with open('nodes_tags.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'].decode("utf-8"), i['key'].decode("utf-8"), i['value'].decode("utf-8"), i['type'].decode("utf-8")) for i in dr]
    
#6. Insert the formatted data
cur.executemany("INSERT INTO nodes_tags(id, key, value,type) VALUES (?, ?, ?, ?);", to_db)
# commit the changes
conn.commit()

In [ ]:
############################################################
# Nodes.csv to nodes table in richmond_sample.db #
############################################################

#1. Import the modules that you will need:
import sqlite3
import csv
from pprint import pprint

#2. Connect to the database (if it doesn't exist, it will be created in the folder that your notebook is in):
sqlite_file = 'richmond_sample.db'    # name of the sqlite database file

# Connect to the database
conn = sqlite3.connect(sqlite_file)

#3. Create a cursor object
cur = conn.cursor()

#4. Create the table, specifying the column names and data types:
# in the case of'nodes_tags.csv' as an example, it has columns: 'id, key, value,type'
cur.execute('''CREATE TABLE nodes(id INTEGER, lat FLOAT, lon FLOAT, user TEXT, uid INTEGER, version TEXT, changeset INTEGER, timestamp TIMESTAMP)''')
# commit the changes
conn.commit()

#5. Read in the csv file as a dictionary, format the
# data as a list of tuples:
with open('nodes.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'], i['lat'],i['lon'], i['user'], i['uid'], i['version'], i['changeset'], i['timestamp']) for i in dr]
    
#6. Insert the formatted data
cur.executemany("INSERT INTO nodes(id, lat, lon, user, uid, version, changeset, timestamp) VALUES (?, ?, ?, ?, ?, ?, ?, ?);", to_db)
# commit the changes
conn.commit()

#7. check that the data imported correctly
cur.execute('SELECT * FROM nodes')
all_rows = cur.fetchall()
print('1):')
pprint (all_rows)

#8. close the connection:
conn.close()

In [22]:
### I accidentally added the ways info into nodes so I'll have to re-add a nodes table to make sure, calling it nodes_2

#4. Create the table, specifying the column names and data types:
# in the case of'nodes_tags.csv' as an example, it has columns: 'id, key, value,type'
cur.execute('''CREATE TABLE nodes_2(id INTEGER, lat FLOAT, lon FLOAT, user TEXT, uid INTEGER, version TEXT, changeset INTEGER, timestamp TIMESTAMP)''')
# commit the changes
conn.commit()

#5. Read in the csv file as a dictionary, format the
# data as a list of tuples:
with open('nodes.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'], i['lat'],i['lon'], i['user'], i['uid'], i['version'], i['changeset'], i['timestamp']) for i in dr]
    
#6. Insert the formatted data
cur.executemany("INSERT INTO nodes_2(id, lat, lon, user, uid, version, changeset, timestamp) VALUES (?, ?, ?, ?, ?, ?, ?, ?);", to_db)
# commit the changes
conn.commit()

In [1]:
############################################################
# ways.csv to ways table in richmond_sample.db #
############################################################

#1. Import the modules that you will need:
import sqlite3
import csv
from pprint import pprint

#2. Connect to the database (if it doesn't exist, it will be created in the folder that your notebook is in):
sqlite_file = 'richmond_sample.db'    # name of the sqlite database file

# Connect to the database
conn = sqlite3.connect(sqlite_file)

#3. Create a cursor object
cur = conn.cursor()

#4. Create the table, specifying the column names and data types:
# in the case of'nodes_tags.csv' as an example, it has columns: 'id, key, value,type'
cur.execute('''CREATE TABLE ways(id INTEGER, user TEXT, uid INTEGER, version TEXT, changeset INTEGER, timestamp TIMESTAMP)''')
# commit the changes 
conn.commit()

#5. Read in the csv file as a dictionary, format the
# data as a list of tuples:
with open('ways.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'], i['user'], i['uid'], i['version'], i['changeset'], i['timestamp']) for i in dr]
    
#6. Insert the formatted data
cur.executemany("INSERT INTO nodes(id, user, uid, version, changeset, timestamp) VALUES (?, ?, ?, ?, ?, ?);", to_db)
# commit the changes
conn.commit()

# #7. check that the data imported correctly
# cur.execute('SELECT * FROM ways')
# all_rows = cur.fetchall()
# print('1):')
# pprint (all_rows)

#8. close the connection:
conn.close()

In [16]:
### In the previous code, I accidentally added the ways info to the nodes tables, so I'll have to redo it

#5. Read in the csv file as a dictionary, format the
# data as a list of tuples:
with open('ways.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'], i['user'], i['uid'], i['version'], i['changeset'], i['timestamp']) for i in dr]
    
#6. Insert the formatted data
cur.executemany("INSERT INTO ways(id, user, uid, version, changeset, timestamp) VALUES (?, ?, ?, ?, ?, ?);", to_db)
# commit the changes
conn.commit()

# #7. check that the data imported correctly
# cur.execute('SELECT * FROM ways')
# all_rows = cur.fetchall()
# print('1):')
# pprint (all_rows)

#8. close the connection:
conn.close()

In [5]:
############################################################
# ways_tags.csv to ways_tags_2 table in richmond_sample.db #
############################################################

#1. Import the modules that you will need:
import sqlite3
import csv
from pprint import pprint

#2. Connect to the database (if it doesn't exist, it will be created in the folder that your notebook is in):
sqlite_file = 'richmond_sample.db'    # name of the sqlite database file

# Connect to the database
conn = sqlite3.connect(sqlite_file)

#3. Create a cursor object
cur = conn.cursor()

#4. Create the table, specifying the column names and data types:
# in the case of'nodes_tags.csv' as an example, it has columns: 'id, key, value,type'
cur.execute('''CREATE TABLE ways_tags_2(id INTEGER, key TEXT, value TEXT, type TEXT)''')
# commit the changes
conn.commit()

#5. Read in the csv file as a dictionary, format the
# data as a list of tuples:
with open('ways_tags.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'].decode("utf-8"), i['key'].decode("utf-8"), i['value'].decode("utf-8"), i['type'].decode("utf-8")) for i in dr]
    
#6. Insert the formatted data
cur.executemany("INSERT INTO ways_tags_2(id, key, value,type) VALUES (?, ?, ?, ?);", to_db)
# commit the changes
conn.commit()

# #7. check that the data imported correctly
# cur.execute('SELECT * FROM ways_tags')
# all_rows = cur.fetchall()
# print('1):')
# pprint (all_rows)

#8. close the connection:
conn.close()

OperationalError: table ways_tags_2 already exists

In [7]:
#5. Read in the csv file as a dictionary, format the
# data as a list of tuples:
with open('ways_tags.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'].decode("utf-8"), i['key'].decode("utf-8"), i['value'].decode("utf-8"), i['type'].decode("utf-8")) for i in dr]
    
#6. Insert the formatted data
cur.executemany("INSERT INTO ways_tags_2(id, key, value,type) VALUES (?, ?, ?, ?);", to_db)
# commit the changes
conn.commit()

In [9]:
############################################################
# ways_nodes.csv to ways_nodes table in richmond_sample.db #
############################################################

#1. Import the modules that you will need:
import sqlite3
import csv
from pprint import pprint

#2. Connect to the database (if it doesn't exist, it will be created in the folder that your notebook is in):
sqlite_file = 'richmond_sample.db'    # name of the sqlite database file

# Connect to the database
conn = sqlite3.connect(sqlite_file)

#3. Create a cursor object
cur = conn.cursor()

#4. Create the table, specifying the column names and data types:
# in the case of'nodes_tags.csv' as an example, it has columns: 'id, key, value,type'
cur.execute('''CREATE TABLE ways_nodes(id INTEGER, node_id INTEGER, position INTEGER)''')
# commit the changes
conn.commit()

#5. Read in the csv file as a dictionary, format the
# data as a list of tuples:
with open('ways_nodes.csv','rb') as fin:
    dr = csv.DictReader(fin) # comma is default delimiter
    to_db = [(i['id'], i['node_id'], i['position']) for i in dr]
    
#6. Insert the formatted data
cur.executemany("INSERT INTO ways_nodes(id, node_id, position) VALUES (?, ?, ?);", to_db)
# commit the changes
conn.commit()

# #7. check that the data imported correctly
# cur.execute('SELECT * FROM ways_tags')
# all_rows = cur.fetchall()
# print('1):')
# pprint (all_rows)

#8. close the connection:
conn.close()

## Query 1: Find Overview
Find .tables, .schema, and statistical overviews such as number of nodes, number of ways, number of unique users, top ten contributing users, etc.

In [24]:
# Find .tables
sqlite_file = 'richmond_sample.db'
conn = sqlite3.connect(sqlite_file)
cur = conn.cursor()

QUERY = "select name from sqlite_master where type = 'table';" # query .tables
cur.execute(QUERY)
result = cur.fetchall()
print result

[(u'nodes_tags',), (u'nodes',), (u'ways',), (u'ways_tags',), (u'ways_tags_2',), (u'ways_nodes',), (u'nodes_2',)]

In [19]:
# Find .schema
QUERY = "select sql from sqlite_master where type = 'table' and name = 'nodes_tags';" # query .schema nodes_tags
cur.execute(QUERY)
result = cur.fetchall()
print result

[(u'CREATE TABLE nodes_tags(id INTEGER, key TEXT, value TEXT,type TEXT)',)]

In [31]:
# Find number of nodes: * error table, disregard **
QUERY = "SELECT COUNT(*) FROM nodes;"
cur.execute(QUERY)
result = cur.fetchall()
print result

[(332055,)]

In [23]:
# Find number of nodes_2: *I accidentally added the wrong info to nodes table, so use nodes_2
QUERY = "SELECT COUNT(*) FROM nodes_2;"
cur.execute(QUERY)
result = cur.fetchall()
print result

[(300985,)]

In [21]:
# Find number of ways:
QUERY = "SELECT COUNT(*) FROM ways;"
cur.execute(QUERY)
result = cur.fetchall()
print result

[(31070,)]

In [32]:
# Find number of unique users:
QUERY = "SELECT COUNT(DISTINCT(e.uid)) FROM (SELECT uid FROM nodes_2 UNION ALL SELECT uid FROM ways) e;"
cur.execute(QUERY)
result = cur.fetchall()
print result

[(351,)]

In [33]:
# Find top 10 contributing users:
QUERY = '''
SELECT e.user, COUNT(*) as num
FROM (SELECT user FROM nodes_2 UNION ALL SELECT user FROM ways) e
GROUP BY e.user
ORDER BY num DESC
LIMIT 10;
'''
cur.execute(QUERY)
result = cur.fetchall()
print result

[(u'woodpeck_fixbot', 127228), (u'RVA_101', 61305), (u'CynicalDooDad', 33881), (u'Omnific', 25616), (u'gpstrails', 19566), (u'42429', 10039), (u'TIGERcnl', 5882), (u'taber', 5861), (u'bot-mode', 5455), (u'daddyklee', 4669)]

In [34]:
# Number of unique users appearing only once
QUERY = '''
SELECT COUNT(*) 
FROM
    (SELECT e.user, COUNT(*) as num FROM 
    (SELECT user FROM nodes_2 UNION ALL SELECT user FROM ways) e 
    GROUP BY e.user HAVING num=1)  u;
'''
cur.execute(QUERY)
result = cur.fetchall()
print result

[(74,)]

## Queries :

In [35]:
# Top zipcodes
QUERY = '''
SELECT tags.value, COUNT(*) as count 
FROM (SELECT * FROM nodes_tags 
      UNION ALL 
      SELECT * FROM ways_tags) tags
WHERE tags.key='postcode'
GROUP BY tags.value
ORDER BY count DESC;
'''
cur.execute(QUERY)
result = cur.fetchall()
print result

[(u'23220', 47), (u'23219', 32), (u'23059', 16), (u'23060', 12), (u'23230', 12), (u'23221', 10), (u'23223', 7), (u'23235', 5), (u'23112', 2), (u'23114', 2), (u'23116', 2), (u'23150', 2), (u'23224', 2), (u'23236', 2), (u'23832', 2), (u'19335', 1), (u'23221-3504', 1), (u'23222', 1), (u'23226', 1), (u'23227-1107', 1), (u'23233', 1), (u'23236-3103', 1), (u'23238', 1), (u'23284', 1), (u'23298', 1)]

In [37]:
# Top Cities
QUERY = '''
SELECT tags.value, COUNT(*) as count 
FROM (SELECT * FROM nodes_tags UNION ALL 
      SELECT * FROM ways_tags) tags
WHERE tags.key LIKE '%city'
GROUP BY tags.value
ORDER BY count DESC;
'''
cur.execute(QUERY)
result = cur.fetchall()
print result

[(u'Richmond', 135), (u'Glen Allen', 28), (u'Midlothian', 4), (u'Bon Air', 2), (u'Chesterfield', 2), (u'Sandston', 2), (u'1', 1), (u'3', 1), (u'Downingtown ', 1), (u'None', 1), (u'glen Allen', 1), (u'no', 1), (u'richmond', 1)]

In [38]:
# Top ten appearing amenities
QUERY = '''
SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key='amenity'
GROUP BY value
ORDER BY num DESC
LIMIT 10;
'''
cur.execute(QUERY)
result = cur.fetchall()
print result

[(u'restaurant', 212), (u'place_of_worship', 154), (u'school', 119), (u'fast_food', 94), (u'fuel', 46), (u'bank', 39), (u'cafe', 32), (u'grave_yard', 32), (u'fire_station', 27), (u'pharmacy', 24)]

In [49]:
# Top ten 'natural' keys
QUERY = '''
SELECT value, COUNT(*) as num
FROM nodes_tags
WHERE key='natural'
GROUP BY value
ORDER BY num DESC
LIMIT 10;
'''
cur.execute(QUERY)
result = cur.fetchall()
print result

[(u'tree', 1722), (u'peak', 3), (u'cliff', 1), (u'wetland', 1)]

In [48]:
# Top five cafes
QUERY = '''
SELECT nodes_tags.value, COUNT(*) as num
FROM nodes_tags 
    JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='cafe') i
    ON nodes_tags.id=i.id
WHERE nodes_tags.key='name' 
GROUP BY nodes_tags.value
ORDER BY num DESC
LIMIT 5;
'''
cur.execute(QUERY)
result = cur.fetchall()
print result

[(u'Starbucks', 10), (u'Dunkin Donuts', 2), (u'Tropical Smoothie Cafe', 2), (u'821 Cafe', 1), (u'Bell Cafe', 1)]

In [44]:
# Top ten cuisines
QUERY = '''
SELECT nodes_tags.value, COUNT(*) as num
FROM nodes_tags 
    JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='restaurant') i
    ON nodes_tags.id=i.id
WHERE nodes_tags.key='cuisine'
GROUP BY nodes_tags.value
ORDER BY num DESC;
'''
cur.execute(QUERY)
result = cur.fetchall()
print result

[(u'american', 8), (u'chinese', 7), (u'italian', 7), (u'mexican', 6), (u'sushi', 4), (u'pizza', 3), (u'regional', 3), (u'thai', 3), (u'ice_cream', 2), (u'japanese', 2), (u'sandwich', 2), (u'asian', 1), (u'bbq', 1), (u'bistro', 1), (u'breakfast', 1), (u'burger', 1), (u'french', 1), (u'indian', 1), (u'korean', 1), (u'mediterranean', 1), (u'seafood', 1), (u'southern', 1), (u'tacos', 1)]

In [93]:
# Zipcodes with most restaurants
QUERY = '''
SELECT nodes_tags.value, COUNT(*) as num
FROM nodes_tags 
    JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='restaurant') i
    ON nodes_tags.id=i.id
WHERE nodes_tags.key='postcode' 
GROUP BY nodes_tags.value
ORDER BY num DESC
LIMIT 5;
'''
cur.execute(QUERY)
result = cur.fetchall()
print result

[(u'23220', 17), (u'23219', 9), (u'23230', 3), (u'23221', 2), (u'23223', 2)]